@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

.font
{
	font-family: 'Sen', sans-serif;
}

body
{
	background-color: cadetblue;
}

.titre
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 200px;
	align-content: space-around;
}

.Plot
{
	height: 60px;
	width: 60px;
}

.maintenance
{
  display: flex;
  height: 300px;
  justify-content: space-around;
  align-items: center;
}

.contact
{
	text-align: center;
}

.tete
{
	height: 150px;
	width: 150px;
}

.Tout
{
	display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding-top:10px;
  padding-bottom:10px;
  border: 3px solid #3A6998;
  text-align: center;
  background: #90C0F0;
  margin: auto;
}